@page
@model HealthcareMangementSystem.Pages.Patients.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Patient.PatientId" class="control-label"></label>
                <input asp-for="Patient.PatientId" class="form-control" />
                <span asp-validation-for="Patient.PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.PatientName" class="control-label"></label>
                <input asp-for="Patient.PatientName" class="form-control" />
                <span asp-validation-for="Patient.PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.CovidFlag" class="control-label"></label>
                <input asp-for="Patient.CovidFlag" class="form-control" />
                <span asp-validation-for="Patient.CovidFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.AddressId" class="control-label"></label>
                <select asp-for="Patient.AddressId" class ="form-control" asp-items="ViewBag.AddressId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Patient.AppHistoryId" class="control-label"></label>
                <select asp-for="Patient.AppHistoryId" class ="form-control" asp-items="ViewBag.AppHistoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
