@{
    ViewData["Title"] = "About Us";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif
        }

        body, html {
            height: 100%;
            line-height: 1.8;
        }

        /* Full height image header */
        .bgimg-1 {
            background-position: center;
            background-size: cover;
            background-image: url("/wwwroot/image/mac.jpg");
            min-height: 100%;
        }

        .w3-bar .w3-button {
            padding: 16px;
        }
    </style>
</head>

<body>

    <!-- About Section -->
    <div class="w3-container" style="padding:128px 16px" id="about">
        <h3 class="w3-center">ABOUT THE COMPANY</h3>
        <p class="w3-center w3-large">
            The concept behind designing this system was to innovate the health system for the Ireland where residents of the country
            can easily access the information about the hospitals and all the other healthcare services such as emergency services and medicinal availability in their respective cities.
        </p>
        <div class="w3-row-padding w3-center" style="margin-top:64px">
            <div class="w3-quarter">
                <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
                <p class="w3-large">Medical Events</p>
                <p>We also provide information regarding various events like blood donation , organ donation..etc</p>
            </div>
            <div class="w3-quarter">
                <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
                <p class="w3-large">Career</p>
                <p>We have exclusive tie up with hospitals so that anybody who has medical experience can land up job. </p>
            </div>
            <div class="w3-quarter">
                <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
                <p class="w3-large">Patient History</p>
                <p>Doctors can authorise themselve with their medical Id and they can get patient previous medical history record</p>
            </div>
            <div class="w3-quarter">
                <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
                <p class="w3-large">Support</p>
                <p>We provide extensive support to the general public so that they can access crucial Information</p>
            </div>
        </div>
    </div>

    @*<div class="about-section">
            <div class="inner-container">
                <h1>About Us</h1>
                <p class="text">
                    Ireland Hospital Management System provides all of Ireland's public health services in hospitals and communities across the country.
                    Hospitality is the key factor in the health section of any country.
                    The Hospital Management System allows healthcare professionals to review clinical data, diagnoses, patient records,
                    and other important information in one place, allowing them to make informed decisions at the right time.
                    The concept behind designing this system was to innovate the health system for the Ireland where residents of the country
                    can easily access the information about the hospitals and all the other healthcare services such as emergency services and medicinal availability in their respective cities.
                </p>
                <br>
            </div>
        </div>*@
</body>
</html>