<!DOCTYPE html>
<head>
    <title>Medical Career</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style2.css" type="text/css" rel="stylesheet" />

</head>
<body>
    <div class="header">
        <form>
            <h1> <b></b>Search for Medical Jobs  </h1>
            <div class="form-box">
                <input type="text" class="search-field Location"
                       placeholder="Enter Career ID">
                <input type="text" class="search-field Location"
                       placeholder="Enter Hospitals">
                <button class="search-btn" type="button">Search</button>
            </div>
        </form>
    </div>
</body>