@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
<body>
        <section class="content">
            <main class="main-content main-content_landing">
                <div class="breadcrumbs_wrapper side-indent">
                    <div class="breadcrumbs">
                        <a href="https://www.templatemonster.com" class="breadcrumbs-link breadcrumbs-link_home"
                           title="Home"></a>
                    </div>
                </div>
                <h1 class="landing-title text-center side-indent">Privacy Policy</h1>
                <div class="side-indent">
                    <div class="landing-page landing-page_light landing-page_text ">
                        <div>
                            <a href="#general-info">General Information</a>
                        </div>
                        <div>
                            <a href="#info-types">Information Types We Collect</a>
                        </div>
                        <div>
                            <a href="#means-data">Means of Personal Data Collection</a>
                        </div>
                        <div>
                            <a href="#receiving-info">Receiving Information from Third Parties</a>
                        </div>
                        <div>
                            <a href="#personal-details">Personal Details Use Cases</a>
                        </div>
                        <div>
                            <a href="#personal-info-disclosure">Personal Information Disclosure</a>
                        </div>
                        <div>
                            <a href="#personal-info-storage">Personal Information Storage and Protection</a>
                        </div>
                        <div>
                            <a href="#privacy-management">Privacy Management</a>
                        </div>
                        <div>
                            <a href="#marketing-use">Marketing Use of Your Personal Information</a>
                        </div>
                        <div>
                            <a href="#third-party-integrations">Third-Party Integrations of Your Public Information</a>
                        </div>
                        <div>
                            <a href="#data-erasure">Data Erasure</a>
                        </div>
                        <div>
                            <a href="#childrens-privacy">Children's Online Privacy</a>
                        </div>
                        <div>
                            <a href="#changes-in-policy">Changes in Our Privacy Policy</a>
                        </div>
                        <div class="spacing-m">
                            <a href="#legal-references">Legal References</a>
                        </div>
                        <p>
                            Data protection is of a particularly high priority for TemplateMonster.com. Personal data processing, including your name, address, email, or phone number, will always be in line with the General Data Protection Regulation (GDPR) and other data protection regulations applicable to TemplateMonster.com.
                        </p>
                        <p>
                            Using our website, you automatically agree to the following terms. If you do not agree with any of this document's statements, please
                            <a href="https://www.templatemonster.com/contact-us.php" rel="noopener noreferrer nofollow">contact us</a>
                            before using our
                            <a href="https://www.templatemonster.com/" rel="noopener noreferrer nofollow">website</a>,
                            any of its pages, folders, and subdomains. We have the right to change our privacy policy without prior notice. Therefore, we advise all users to regularly check this page and stay aware of its latest version.
                        </p>
                        <h2 id="general-info">1. General Information</h2>
                        <p>
                            Via this data protection statement, we inform the general public of the nature, scope, and purpose of the personal data we collect, use, and process. Furthermore, this data protection declaration contains information on the website users' rights.
                        </p>
                        <p>
                            As the data controller and processor, TemplateMonster.com has implemented numerous technical and organizational measures to ensure your data's complete protection throughout the website. Since Internet-based data transmissions may have security gaps, absolute protection is not guaranteed. Moreover, every data subject is free to transfer personal data to us via direct and indirect means, e.g., email or phone support.
                        </p>
                        <h2 id="info-types">2. Information Types We Collect</h2>
                        <p>
                            We collect certain information about visitors and users of our websites. The type and scope of information differ according to the referral source and user status.
                        </p>
                        <h3>2.1. Information We Obtain from Authors</h3>
                        <p>
                            We can collect author name, company name, physical address, email address, phone number(s), social media account URLs, payment details (like credit card and billing information), survey responses initiated for research purposes.
                        </p>
                        <p>
                            We use this information to provide authors with/or improve our services. E.g., this data is necessary to pay commissions, verify authors' identity, deliver advertising and marketing services, contact,  support, and invoice them.
                        </p>
                        <h3>2.2. Information We Obtain from Buyers</h3>
                        <p>
                            We collect buyer name, username, email address, phone number(s), physical location, and contact details. Moreover, we can collect, store, and use information about buyers' devices used to visit and interact with our websites. It includes information about the browser, referring source, and buyer's IP address. We can also collect responses to the surveys initiated for research purposes, payment details (like credit card and billing information), transaction details, support queries, web analytics data, and data buyers provide when filling in forms on our websites.
                        </p>
                        <p>
                            We may use this information to respond to buyers` requests or correspondence, to provide customer service, to administer the website, improve products/services, send technical notices/updates, security alerts, changes in policy notifications, administrative messages. We can also use this data for statistical, analytical, and management purposes and prevent fraud, breach of policies/terms, including threats and harm.
                        </p>
                        <h3>2.3. Information We Obtain from Partners</h3>
                        <p>
                            We collect partner name, company name, website URL, phone number(s), physical address, business type, email, and information from merchant processors like PayPal, Payoneer, etc. We use this information to work with partners, confirm their identity, contact, pay, support, screen for risk, fraud, or other similar issues. Moreover, we use this data to send technical notices, updates, security alerts, administrative messages, and information regarding our policies' changes.
                        </p>
                        <h3>2.4. Information We Obtain from Website Visitors</h3>
                        <p>
                            We collect the visitors` device type and browser, network connection, IP address, cookies, and other web analytics data. We may also collect personal information submitted by visitors via any forms available on our websites, i.e., chat, ticket system, subscription, and contact forms.
                        </p>
                        <h3>2.5. Information We Obtain from Users via Chat, Phone Calls, and other Indirect Means</h3>
                        <p>
                            We collect names, emails, information about the device and browser they use, chat transcript, and other personal information they provide during the chat or call. According to our
                            <a href="https://www.templatemonster.com/support-policy/" rel="noopener noreferrer nofollow">Support Policy</a>
                            and
                            <a href="https://www.templatemonster.com/terms.php" rel="noopener noreferrer nofollow">Terms of Use</a>,
                            we may request additional details from the users during our conversation to verify their identity or for technical support purposes.
                        </p>
                        <h2 id="means-data">3. Means of Personal Data Collection</h2>
                        <ul>
                            <li>
                                We collect personal information <strong>when visitors perform certain actions on our websites</strong>. Those actions include but are not limited to registration, purchasing/ordering items or services on our sites, subscribing to our newsletter, submitting feedback, entering a contest, filling out a survey, or sending us a communication request via any available means.
                            </li>
                            <li>
                                We automatically collect personal information <strong>while users navigate through our sites</strong> or 3rd party sources that refer to our websites.
                            </li>
                            <li>
                                We can ask users to provide login details to their website admin panel or hosting account (server) <strong>
                                    if they order additional offers from our
                                    <a href="https://www.templatemonster.com/services/" rel="noopener noreferrer nofollow">Service Center</a>
                                    or partners
                                </strong>. The services are template installation, website customization, image replacement, WordPress plugins installation, etc. Users may refuse to share the login details of their website or hosting account. In this case, we can refuse to provide the service.
                            </li>
                        </ul>
                        <h2 id="receiving-info">4. Receiving Information from Third Parties</h2>
                        <p>
                            In addition to the data we get from the visitors, we may collect, store, and analyze users` personal information from other sources.
                        </p>
                        <ul>
                            <li>
                                We receive financial and transaction details from payment providers to process the transactions and complete digital product purchases.
                            </li>
                            <li>
                                Third-party services like Google, Facebook, Twitter may provide us with certain information about our visitors when they link/connect/log in to our website using their social media login or associated email. The amount of information may vary and can be controlled and changed by a third-party service provider or user via privacy settings.
                            </li>
                            <li>
                                We can obtain demographic data and fraud detection information from third-party sources and combine them with the info we have about the visitors to confirm their identity. These can be identity verification services used for fraud warning purposes.
                            </li>
                        </ul>
                        <h2 id="personal-details">5. Personal Details Use Cases</h2>
                        <h3>5.1. Order Processing</h3>
                        <p>
                            We mainly require users' personal information when we need to define their identity for accurate order processing on any of our websites, e.g., when they purchase items and services from our marketplace.
                        </p>
                        <h3>5.2. Service Provision</h3>
                        <p>
                            Other legitimate uses include but are not limited to the following cases.
                        </p>
                        <ul>
                            <li>delivering services represented on any of our websites;</li>
                            <li>verifying users identity when they sign in and create a personal account on any of our websites;</li>
                            <li>providing general and technical support services;</li>
                            <li>sharing company news, sales, special offers, and website/services updates;</li>
                            <li>checking user actions on our websites to identify potentially fraudulent activity and to ensure compliance with user terms that apply to our websites;</li>
                            <li>responding to user comments or queries on our websites, ask them for feedback or opinion via surveys;</li>
                            <li>managing legal/operational affairs, including risk management related to content and fraud matters;</li>
                            <li>improving our website UI, product, and service quality.</li>
                        </ul>
                        <h3>5.3. Information Use That Requires User Consent</h3>
                        <p>
                            We can use your personal information when you give us consent:
                        </p>
                        <ul>
                            <li>to provide you with marketing information relating to products and services which may be of interest to you;</li>
                            <li>to modify/customize our offers and website layout using cookies, e.g., advertising that appears on our website can be adapted to provide users a personalized experience.</li>
                        </ul>
                        <h3>5.4. Legal Requests</h3>
                        <p>
                            If necessary, we can handle personal user information for purposes required by the law. E.g., for granting court of law, law enforcement authorities, government requests, or any other occasions that may relate to judicial investigations.
                        </p>
                        <h2 id="personal-info-disclosure">6. Personal Information Disclosure</h2>
                        <p>
                            Personal information of our users may be accessed by:
                        </p>
                        <ul>
                            <li>company employees who need it to perform their tasks and duties;</li>
                            <li>third parties who have a legitimate purpose for accessing it.</li>
                        </ul>
                        <p>
                            We may share users` personal information with third parties in the following cases.
                        </p>
                        <ul>
                            <li>The customer consents to the disclosure.</li>
                            <li>We need to disclose partial data for support purposes, third-party software validation/activation.</li>
                            <li>The customer orders a third-party service on our website, and subcontractors or service providers need the data to perform the offer. Subcontractors or service providers may access your personal information from their operational countries.</li>
                            <li>It is required to protect our rights or comply with a judicial proceeding, court order, or legal process.</li>
                        </ul>
                        <h2 id="personal-info-storage">7. Personal Information Storage and Protection</h2>
                        <p>
                            TemplateMonster has its major facility located in the USA and several subsidiaries located in Ukraine. More than that, the company cooperates with outsourcing employees worldwide to provide users with in-time support and a high level of services. We can store your personal data on different local servers. To protect your information, we also work with subcontractors who can maintain standards of data security compliance.
                        </p>
                        <p>
                            We may also provide certain personal details to the authors of TemplateMonster marketplace to provide product support to their clients.
                        </p>
                        <h3>7.1. Storage Time</h3>
                        <p>
                            Users` information is stored on our servers as long as it is needed to provide them with our services and comply with legal obligations.
                        </p>
                        <p>
                            If users don’t want us to store their personal information, they have the right to get it deleted, but in this case, we’ll have to deactivate their TemplateMonster accounts.
                        </p>
                        <p>
                            All information about deleted accounts stays on our servers to use for our legitimate business interests: comply with the law, prevent fraud, resolve disputes, troubleshoot problems, assist with investigations, enforce the service terms or take other actions permitted by law. We handle the information we retain following this Privacy Policy.
                        </p>
                        <h3>7.2. Security Measures</h3>
                        <p>
                            To keep user information secure, we apply certain measures to protect it against unauthorized or illegal use, accidental loss, or destruction.
                        </p>
                        <ul>
                            <li>We share and provide user information access to the minimum necessary extent, subject to confidentiality restrictions where appropriate, and on an anonymized basis wherever possible.</li>
                            <li>To store user information, we use secure servers.</li>
                            <li>We verify the identity of all individuals who request access to private information before granting them access.</li>
                            <li>We use SSL certificate encryption to protect the data transfer.</li>
                        </ul>
                        <p>
                            We are not responsible if users try to circumvent privacy settings on our websites. If we provide users with access to certain parts of our website, they are responsible for keeping them safe. Users must not share access details with third parties.
                        </p>
                        <p>
                            Due to obvious reasons, we cannot control all users' actions on our websites, e.g., in public comments, forums, etc.  Therefore, we recommend customers share their information in public areas wisely, as we cannot guarantee that unauthorized parties will not view the data, which users publish to the web.
                        </p>
                        <p>
                            When users choose to share their information via a third-party website, they need to check that website's privacy policy to be aware of its information management and protection practices.
                        </p>
                        <h2 id="privacy-management">8. Privacy Management</h2>
                        <p>
                            All personal information that we collect about users is available in their accounts. Users have the right to make all the necessary edits and changes to this data.
                        </p>
                        <p>
                            Users can receive personal information in a structured, machine-readable format, edit, erase, or restrict its processing. They can also object to their data processing for a set of company interests, such as profiling for direct marketing and other cases when we need their consent to data processing.
                        </p>
                        <p>
                            There are several situations when these rights can be limited, and we can retain user information after they withdraw the consent. Those are cases where we may require personal data to be compliant with legal or contractual obligations. If users do not provide us with such data, we can not complete the service. In all other cases providing requested information can be optional.
                        </p>
                        <p>
                            If users have some unresolved concerns, they have the right to complain to the data protection authorities. If you believe that our company violates your privacy rights, please contact us at
                            <a href="mailto:privacy@templatemonster.com">privacy@templatemonster.com</a>.
                        </p>
                        <h2 id="marketing-use">9. Marketing Use of Your Personal Information</h2>
                        <p>
                            If we have users' consent, we can send them marketing materials with information about products, services, or discounts. If they decide not to receive such email notifications, they can easily opt-out using the unsubscribe option or contact us at
                            <a href="mailto:unsubscribe@templatemonster.com">unsubscribe@templatemonster.com</a>.
                        </p>
                        <h3>9.1. Cookies</h3>
                        <p>
                            TemplateMonster and all our websites and projects use cookies to analyze user behavior and gather demographic info and other general information about our user base. A cookie is a small file that is placed on users' devices when they visit any website. Using the device's browser settings, users can eliminate cookies, but they can limit certain features on our websites if they disable those.
                        </p>
                        <p>
                            We are using functional and analytical cookies; for further information on cookies, please see our
                            <a href="https://www.templatemonster.com/cookie-policy.php" rel="noopener noreferrer nofollow">cookies policy</a>
                            or visit
                            <a href="https://www.allaboutcookies.org/" rel="noopener noreferrer nofollow" target="_blank">allaboutcookies.org</a>.
                        </p>
                        <h3>9.2. Web Beacons</h3>
                        <p>
                            Another technology we use is
                            <a href="https://en.wikipedia.org/wiki/Web_beacon" rel="noopener noreferrer nofollow" target="_blank">web beacons</a>.
                            It is a means to track the website's use on occasions, like promotions or newsletters. The data we collect via web beacons allow us to track the number of users who opened our newsletters. Also, web beacons help us to understand user behavior and improve UX.
                        </p>
                        <h3>9.3. Google Analytics</h3>
                        <p>
                            TemplateMonster websites use Google Analytics, a web analytics service created by Google, Inc. Google Analytics software uses cookies to analyze user behavior. All data (i.e., user activity on TemplateMonster websites) is gathered by cookies and stored on Google cloud data centers, most of which are in the U.S.
                        </p>
                        <p>
                            In turn, Google uses this data to evaluate user behavior in general, compile reports for site managers, and provide data to services related to website activity and Internet usage. Google may transfer various data to third parties when required to do so by law or when such third parties process the information on Google's behalf.
                        </p>
                        <p>
                            In no way will Google associate user IP addresses with any other data held by Google. If users do not want to provide Google with the browsing data, they can block cookies via browser settings. Users can find more information on
                            <a href="https://tools.google.com/dlpage/gaoptout" rel="noopener noreferrer nofollow" target="_blank">Google opt-out</a>,
                            <a href="https://policies.google.com/privacy?hl=en" rel="noopener noreferrer nofollow" target="_blank">Privacy</a>, and
                            <a href="https://marketingplatform.google.com/about/analytics/" rel="noopener noreferrer nofollow" target="_blank">Google Analytics</a>.
                        </p>
                        <h2 id="third-party-integrations">10. Third-Party Integrations of Your Public Information</h2>
                        <h3>10.1 Testimonials</h3>
                        <p>
                            In addition to various endorsements, we display testimonials on our website. We publish testimonials only after receiving users' consent to specify their names. If users want to delete or modify their existing testimonials, they can contact us via email
                            <a href="mailto:reviews@templatemonster.com">reviews@templatemonster.com</a>.
                        </p>
                        <h3>10.2. Blog</h3>
                        <p>
                            Users can share their opinion on our official blogs. The information they add to our blog posts or comments added via Disqus or an internal commenting system can be read, collected, or used by our websites' visitors. If users wish to remove some of their information from our blogs, they can contact us at
                            <a href="mailto:marketing@templatemonster.com">marketing@templatemonster.com</a>.
                        </p>
                        <h3>10.3. Social media platforms and widgets</h3>
                        <p>
                            All TemplateMonster websites have embedded social media features, e.g., Facebook `Like` button. These features may collect users' data like IP address or place a cookie in their browser to gather statistical information about their interactions with our websites. Social media features are hosted both on our website and servers of a specific social media network.
                        </p>
                        <p>
                            Apart from these features, we maintain profiles on major networks, including Facebook, Twitter, Pinterest, Instagram, Linked In, etc. Any information users submit on these networks in public areas, like comments, can be easily read, collected, or stored by all users of these networks. We cannot control the actions of other social media users or the actions of these platforms. According to their privacy policies, only the related social media platforms manage user activity and interaction with those features.
                        </p>
                        <h3>10.4. Links to other websites</h3>
                        <p>
                            If users click on a link to a third-party site, they leave our site. Since we cannot control third parties' activities, we do not hold responsibility for any use of your personal information by those parties. Users should review the privacy policy of any other website they visit.
                        </p>
                        <h2 id="data-erasure">11. Data Erasure</h2>
                        <p>
                            The information controller shall process and store the data subject's data only for the time necessary to achieve the purpose of storage according to the U.S. legislator or other legislators in laws or regulations to which the controller is subject.
                        </p>
                        <p>
                            If the storage purpose isn't applicable or a storage time prescribed by the U.S. legislator or another competent legislator expires, the personal data is blocked or erased.
                        </p>
                        <p>
                            <strong>TemplateMonster holds the right to block users` accounts and erase the related data if they didn't log in and take any actions for 6 (six) months or more. It relates to customer, author, and affiliate accounts.</strong>
                        </p>
                        <h2 id="childrens-privacy">12. Children's Online Privacy</h2>
                        <p>
                            Children under 13 years old should not use TemplateMonster websites, products, and services. No one under the age of 13 (thirteen) years old can provide personal information to or on our websites. We are not collecting information from children under 13 years old. Users under 13 years old cannot use any of our websites, buy products from the marketplace, comment on blog posts, social media posts, or provide personal information about themselves, including their name, address, phone number, and email. If we learn that users violated this term, we will immediately delete their accounts and all information. If you believe that we may have some information provided by your child, please contact us at
                            <a href="mailto:privacy@templatemonster.com">privacy@templatemonster.com</a>.
                        </p>
                        <h2 id="changes-in-policy">13. Changes in Our Privacy Policy</h2>
                        <p>
                            As the data controller and data processor, we reserve the right to change or modify this Privacy Policy at any time. We publish the changes on this Privacy Policy page and notify users via email.
                        </p>
                        <p>
                            Depending on the context of personal information users provide, TemplateMonster can be a data controller and processor. TemplateMonster is a processor of personal information submitted to the services or collected through the related services.
                        </p>
                        <p>
                            If users have any questions regarding this Privacy Policy, including their information collection, storage, and processing, or if they believe that we violate their privacy rights, they can contact us at
                            <a href="mailto:privacy@templatemonster.com">privacy@templatemonster.com</a>.
                            We respond to all requests, inquiries, or concerns within fifteen (15) days
                        </p>
                        <p>
                            Non-English translations of this Policy are provided for user convenience only. To avoid ambiguous interpretation and translation inaccuracies, users should use the English version as the source.
                        </p>
                        <h2 id="legal-references">14. Legal References</h2>
                        <ul>
                            <li><a href="https://gdpr.eu/article-6-how-to-process-personal-data-legally/" rel="noopener noreferrer nofollow" target="_blank">Art. 6(1) GDPR.</a></li>
                            <li>
                                <a href="https://uscode.house.gov/view.xhtml?req=granuleid%3AUSC-prelim-title15-section6501&edition=prelim" rel="noopener noreferrer nofollow" target="_blank">Children's Online Privacy Protection Act </a>
                                (COPPA), 2013
                            </li>
                            <li>
                                <a href="https://leginfo.legislature.ca.gov/faces/codes_displayText.xhtml?division=8.&chapter=22.&lawCode=BPC" rel="noopener noreferrer nofollow" target="_blank">California Online Privacy Protection Act </a>
                                (CalOPPA), 2020
                            </li>
                            <li>
                                <a href="https://www.priv.gc.ca/en/privacy-topics/privacy-laws-in-canada/the-personal-information-protection-and-electronic-documents-act-pipeda/" rel="noopener noreferrer nofollow" target="_blank">Personal Information Protection and Electronic Documents Act </a>
                                (PIPEDA), 2021
                            </li>
                        </ul>
                    </div>
                </div>
            </main>
        </section>
        <footer class="footer">
            <div class="footer-navigation">
                <div class="footer-desc-container">
                    <svg class="footer-desc-logo">
                        <use xlink:href="/assets/images/sprite-svg-f49732c81fa26ac22dbeaa33020cccec.svg#monsterLogoText"></use>
                    </svg>
                    <p class="footer-desc-text">
                        TemplateMonster is the marketplace where you can buy everything you need to create a website. Hundreds of independent developers sell their products through us for you to be able to create your unique project.
                    </p>
                    <ul class="footer-desc-nav">
                        <li class="footer-desc-nav-item">
                            <b>5,000,000</b> buyers
                        </li>
                        <li class="footer-desc-nav-item">
                            <b>1,640</b> authors
                        </li>
                        <li class="footer-desc-nav-item">
                            <b>46,876</b> products
                        </li>
                    </ul>
                </div>
                <div class="footer-nav-container">
                    <nav class="footer-nav"><p class="footer-nav-title"><span class="footer-nav-icon _ls" data-bg="https://service-navigations.s3.amazonaws.com/icon/1533899332"></span>Products</p><a class="footer-nav-link" href="/wordpress-themes.php">WordPress Themes</a><a class="footer-nav-link" href="/bootstrap-website-templates/">Bootstrap Templates</a><a class="footer-nav-link" href="/joomla-templates.php">Joomla Templates</a><a class="footer-nav-link" href="/prestashop-themes.php">PrestaShop Themes</a><a class="footer-nav-link" href="/woocommerce-themes.php">WooCommerce Themes</a><a class="footer-nav-link" href="/moto-cms-3-templates.php">Website Builder</a><a class="footer-nav-link" href="/opencart-templates.php">OpenCart Templates</a><a class="footer-nav-link" href="https://www.templatemonster.com/properties/features/responsive-design/">Responsive Templates</a><a class="footer-nav-link" href="https://www.templatemonster.com/shopify-themes.php">Shopify Themes</a><a class="footer-nav-link" href="https://www.templatemonster.com/powerpoint-templates.php">PowerPoint Templates</a><a class="footer-nav-link" href="https://weblium.com/" rel="noopener noreferrer" target="_blank">Weblium Website Builder</a><a class="footer-nav-link" href="https://monsterone.com/" rel="noopener" target="_blank">MonsterONE Subscription</a></nav><nav class="footer-nav"><p class="footer-nav-title"><span class="footer-nav-icon _ls" data-bg="https://service-navigations.s3.amazonaws.com/icon/1533900027"></span>Topics</p><a class="footer-nav-link" href="/category/business/">Business & Services</a><a class="footer-nav-link" href="/category/fashion-beauty/">Fashion & Beauty</a><a class="footer-nav-link" href="/category/home-family/">Home & Family</a><a class="footer-nav-link" href="/category/design-photography/">Design & Photography</a><a class="footer-nav-link" href="/category/real-estate/">Real Estate</a><a class="footer-nav-link" href="/category/cars-motorcycles/">Cars & Motorcycles</a><a class="footer-nav-link" href="/category/medical/">Medical</a><a class="footer-nav-link" href="/category/sports-outdoors-travel/">Sports, Outdoors & Travel</a><a class="footer-nav-link" href="/category/food-restaurant/">Food & Restaurant</a><a class="footer-nav-link" href="/category/electronics/">Electronics</a></nav><nav class="footer-nav"><p class="footer-nav-title"><span class="footer-nav-icon _ls" data-bg="https://service-navigations.s3.amazonaws.com/icon/1533900243"></span>Company</p><a class="footer-nav-link" href="/about.php">About Us</a><a class="footer-nav-link" href="/licenses/">Licenses</a><a class="footer-nav-link" href="/blog/">Blog</a><a class="footer-nav-link" href="/promocodes/">Promocodes/Coupons</a><a class="footer-nav-link" href="/landings/web-hosting-small-business-ecommerce/">Best Website Hosting</a><a class="footer-nav-link" href="https://affiliates.templatemonster.com/affiliates/" rel="nofollow noopener noreferrer" target="_blank">Affiliate Program</a><a class="footer-nav-link" href="/services/">Service Center</a><a class="footer-nav-link" href="/coupon-codes-partners/">Partners' Coupon Codes</a><a class="footer-nav-link" href="https://certification.templatemonster.com/" rel="noopener noreferrer" target="_blank">Certification Center</a><a class="footer-nav-link" href="/contact-us.php">Contact Us</a><a class="footer-nav-link" href="https://www.templatemonster.com/gift-card/">Gift Card</a></nav><nav class="footer-nav"><p class="footer-nav-title"><span class="footer-nav-icon _ls" data-bg="https://service-navigations.s3.amazonaws.com/icon/1533900452"></span>Support</p><a class="footer-nav-link" href="https://helpdesk.templatemonster.com/" rel="noopener noreferrer" target="_blank">Help Center</a><a class="footer-nav-link" href="/report-spam.php">Report Spam</a><a class="footer-nav-link" href="https://www.templatemonster.com/sitemap/">Sitemap</a><a class="footer-nav-link" href="https://www.templatemonster.com/help/">Knowledgebase</a><a class="footer-nav-link" href="/marketplace/">Become an author</a></nav><nav class="footer-nav"><p class="footer-nav-title"><span class="footer-nav-icon _ls" data-bg="https://service-navigations.s3.amazonaws.com/icon/1533900664"></span>Follow us</p><a class="footer-nav-link" href="https://www.instagram.com/template_monster/" rel="nofollow noopener noreferrer" target="_blank"><span class="footer-nav-icon _ls" data-bg="https://service-navigations.s3.amazonaws.com/navigation-node--image_file-5f7d75f65d144.svg"></span>Instagram</a><a class="footer-nav-link" href="https://www.facebook.com/TemplateMonster" rel="nofollow noopener noreferrer" target="_blank"><span class="footer-nav-icon _ls" data-bg="https://service-navigations.s3.amazonaws.com/icon/1533900655"></span>Facebook</a><a class="footer-nav-link" href="https://www.youtube.com/user/TemplateMonsterCo" rel="nofollow noopener noreferrer" target="_blank"><span class="footer-nav-icon _ls" data-bg="https://service-navigations.s3.amazonaws.com/navigation-node--image_file-5f7d76259e782.svg"></span>YouTube</a><a class="footer-nav-link" href="https://twitter.com/templatemonster" rel="nofollow noopener noreferrer" target="_blank"><span class="footer-nav-icon _ls" data-bg="https://service-navigations.s3.amazonaws.com/icon/1533900645"></span>Twitter</a><a class="footer-nav-link" href="https://www.pinterest.com/templatemonster/" rel="nofollow noopener noreferrer" target="_blank"><span class="footer-nav-icon _ls" data-bg="https://service-navigations.s3.amazonaws.com/navigation-node--image_file-5f7d760bca7fb.svg"></span>Pinterest</a></nav>
                </div>
            </div>
            <div id="maillist-subscription" data-translations="{&quot;title&quot;:&quot;Get weekly discounts and\u00a0gifts&quot;,&quot;placeholder&quot;:&quot;Enter your email&quot;,&quot;buttonLabel&quot;:&quot;Subscribe&quot;,&quot;terms&quot;:&quot;By clicking the button you agree to the &lt;a href=\&quot;https:\/\/www.templatemonster.com\/privacy-policy.php\&quot; target=\&quot;_blank\&quot;&gt;Privacy Policy&lt;\/a&gt; and &lt;a href=\&quot;https:\/\/www.templatemonster.com\/terms.php\&quot; target=\&quot;_blank\&quot;&gt;Terms\u00a0and\u00a0Conditions&lt;\/a&gt;&quot;,&quot;thankYou&quot;:&quot;Thank you!&quot;,&quot;description&quot;:&quot;We&#039;ll send you our emails once a week. You can always unsubscribe using the link included into every email.&quot;}"></div>
            <div class="footer-info">
                <p class="footer-copyright">
                    &copy; 2021 TemplateMonster.com owned by Theme Technologies LLC. Operated by Jetimpex Inc. All rights reserved.
                </p>
                <p class="footer-updated">
                    Last time updated      <time dateTime="2021-04-21T14:43:05+00:00">
                        April, 21 2021
                    </time>
                </p>
            </div>
        </footer>
        <div id="cookie-policy-popup" data-translations="{&quot;description&quot;:&quot;We&#039;re using our own and third-party cookies to improve your experience and our website. Keep on browsing to accept our &lt;a href=\&quot;\/cookie-policy.php\&quot;&gt;cookie policy&lt;\/a&gt;.&quot;,&quot;buttonLabel&quot;:&quot;Accept&quot;}"></div>
        <div class="overlay"></div>
  
    
</body>
</html>
