<!DOCTYPE html>
<html lang="en">
<head>
    <title> Rehabilitation Centers </title>

    <link href="css/style1.css" type="text/css" rel="stylesheet">

</head>
<body>



    <div class="logo">
        <div>
            <table>
                <tr>
                    <td width="800px" style="font-size:40px;font-family:'Times New Roman', Times, serif;"> <font color="#000"> Rehabilitation Centres Information </font> </td>
                    <td>
                        <br> <br>

                        <font size="3.9px">
                            <body style="background-color:#fdf9ce"></body>
                                <a href="https://www.goldenpages.ie/rehabilitation-centres/ireland/">Availabe Centres</a>
                                <a href="https://goo.gl/maps/TvWPL8AwMYL4ymvp9">Rehab Locations</a>
                                <a href="https://www.hse.ie/eng/about/who/primarycare/socialinclusion/homelessness-and-addiction/addiction-treatment-and-rehabilitation/">HSE updates</a>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>



<div class="middle">
    <div style="background-image: url('/image/a.jpg');">

        <p>
            <br> <br>
            Welcome to Rehabilitation Center Search Page  <br>
            <font size="5px">
                We aim to help people with issues relating to substance misuse, to achieve improved health outcomes. We are responsible for delivering a wide range of national policy objectives as outlined in the Reducing Harm, Supporting Recovery: “A health-led response to drug and alcohol use in Ireland” – 2017 – 2025.<br> We particularly focus on:

                early intervention;
                treatment; and
                rehabilitation.
            </font>
        </p>
    </div>
</div>


<div class="bottom_up">
    <div>
        Enter Details to get updates on Events

        <table>

            <tr>
                <td width="500px"> </td>
                <td>	<input type="text" placeholder="First Name">
                <td> 	<input type="text" placeholder="Last Name">
            </tr>
            <tr height="30px">
            </tr>
            <tr>
                <td width="500px"> </td>
                <td>	<input type="text" placeholder="Email Id">
                <td> 	<input type="text" placeholder="Mobile No">
            </tr>

            <tr height="30px">
            </tr>
            <tr>
                <td width="500px"> </td>
                <td>	<select> <option> -- Sex -- </option> <option> Male </option> <option> Female </option> </select>
                <td> 	<input type="text" placeholder="appointment date">
            </tr>

            <tr height="30px">
            </tr>
            <tr>
                <td width="500px"> </td>
                <td colspan="2">	<textarea placeholder="Message"> </textarea>
            </tr>

            <tr height="30px">
            </tr>
            <tr>
                <td width="500px"> </td>
                <td colspan="2">	<button> SUBMIT </button>
            </tr>
        </table>

    </div>
</div>


