@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto">
   <div class="col-md-12">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">

                 <strong>Who can access this system in Ireland?</strong>
                <p>Ireland has a comprehensive, government funded public healthcare system.</p>
                <p>A person living in Ireland for at least one year is considered by the HSE to be 'ordinarily resident' and is entitled to either full eligibility (Category 1) or limited eligibility (Category 2) for health services.</p>
                <p>People who have not been resident in Ireland for at least one year must satisfy the HSE that it is their intention to remain for a minimum of one year in order to be eligible for health services. Dependants of such individuals must also contact the HSE to confirm their eligibility.</p>
                <p><strong>Category 1 - People with Medical Cards</strong></p>
                <p>Over 30% of people in Ireland have medical cards. Medical Cards allow people to get a wide range of health services and medicines free of charge. You can read more about <a href="https://www2.hse.ie/medical-cards/">Medical Cards and how to apply</a> for one here.</p>
                <p><strong>Category 2 - People without Medical Cards</strong></p>
                <p>People without medical cards can still access a wide range of community and hospital health services, either free of charge or at reduced cost. This website contains a detailed directory of the services that are provided by the HSE, and information on how to access them. Use the menu on the left to browse a detailed list of services nationwide. Read more here about <a href="/eng/services/list/3/acutehospitals/hospitals/hospitalcharges.html">Charges for Hospital Care and Emergency Services</a></p>
                <p><br>We also provide an information service by telephone, the HSE INFOLINE, callsave 1850 24 1850.</p>
                <p>Talk to our infoline staff about any of our services, Monday to Saturday, 8am to 8pm.</p>

            </div>
        </div>
    </div>
    
</div>