* {
    margin: auto;
    padding:100px;
}

.top {
    width: 100px;
    background-color: #000000 !important;
    border-bottom: 2px solid #f0f0f0;
    font-size:3.9px;background-color:#fdf9ce
}

    .top div {
        width: 200px;
        color: #fff;
        background-color: #000000 !important;
        background-size: cover;
        font-family: 'Times New Roman', Times, serif;
        padding: 10px;
        text-align: right;
    }

.logo {
    width: 100%;
    background-color:#000000;
    border-bottom: 2px solid #000000;
}

    .logo div {
        width: 1200px;
        background-color:#000000;
        font-family: 'Times New Roman', Times, serif;
        padding: 10px;
        text-align: left;
    }

        .logo div table a {
            padding: 10px;
            text-decoration: none;
            color: gray;
        }

            .logo div table a:hover {
                color: #000102;
                border-bottom: 2px solid gray;
            }

.middle {
    width: 100%;
    background-size: cover;
    font-size:5px;
    border-bottom: 6px solid #f0f0f0;
}

    .middle div {
        background-size: cover;
        width: 1600px;
        height: 400px;
        font-family: 'Times New Roman', Times, serif;
    }

        .middle div p {
            width: 1000px;
            font-weight: bold;
            height: 400px;
            color: rgb(255, 255, 255);
            opacity: 0.3;
            font-size: 50px;
            background-color: rgb(92, 92, 92);
        }

.bottom {
    width: 100%;
    background-color:#000000;
    border-bottom: 2px solid #f0f0f0;
}

    .bottom div {
        width: 1200px;
        color: #fff;
        background-color:#000000
    }

        .bottom div table {
            padding-top: 30px;
            width: 1100px;
            text-align: justify;
            color: gray;
            font-size: 20px;
        }

.bottom_up {
    width: 100%;
    background-color:#000000;
    border-bottom: 2px solid #f0f0f0;
    font-family: 'Times New Roman', Times, serif;
}

    .bottom_up div {
        padding-top: 40px;
        width: 1200px;
        text-align: left;
        background-color:#000000;
        font-family: forte;
        font-size: 30px;
        padding-bottom: 20px;
    }

        .bottom_up div table {
            padding-top: 30px;
            font-size: 30px;
            width: 1100px;
            text-align: left;
            background-color:#000000;
            font-family: 'Times New Roman', Times, serif;
        }

input[type="text"] {
    padding: 12px;
    width: 250px;
}

select {
    padding: 12px;
    width: 250px;
}

textarea {
    padding: 50px;
    width: 550px;
}

button {
    width: 550px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    background-color: #2FA5EB !important;
}


.nav_down {
    width: 100%;
    background-color: #2FA5EB !important;
    border-bottom: 2px solid #f0f0f0;
}

    .nav_down div {
        width: 1200px;
        color: #fff;
        background-color: #000;
        font-family: 'Times New Roman', Times, serif;
        padding: 10px;
        text-align: left;
    }


body {
    margin: 0;
    padding: 0;
    background: #00a08d;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #666666;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

    .search-box:hover > .search-txt {
        width: 240px;
        padding: 0 6px;
    }

    .search-box:hover > .search-btn {
        background: white;
        color: black;
    }

.search-btn {
    color: #eeeeee;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

    .search-btn > i {
        font-size: 20px;
    }

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
}
